
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(../fonts/droidSans.woff) format('woff');
}

body{
	font: 100%/1.5em "Droid Sans", sans-serif;
	background:#9cddda;
}
h1{
	font-size: 6em;
}
a {
	color: #1F5383;
}
.op5{
	opacity: 0.5;
}
.center{
	margin-right: auto;
	margin-left: auto;
	width: 70%;
	margin-top: 100px;
	text-align: center;
}
.icons{
	list-style: none;
	width: 170px;
	margin: 0 auto;
	padding: 0px;
}
.icons>li{}
.footer{
	top: 50px;
	clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
.footer>li{
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
   padding: 15px;

}
.calendaricon{
	width: 150px;
	box-shadow: 1px 1px #ffffff, 2px 2px #ffffff, 3px 3px #ffffff, 4px 4px #ffffff;
	height: 150px;
	border: 6px solid #E4E4E4;
	border-radius: 15px;
	background: #0D6152;
}

div.calUp{
	display: block;
	height: 72px;
	background: rgb(154, 209, 167);
	position: relative;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px 9px 0px 0px;
    background:#26b198;
    margin-bottom: 1.5px;

}
div.calUp::before{
	background: #1E8D79;
	display: block;
	width: 150px;
	height: 72px;
	top: 75.9px;
	z-index: 0;
	border-radius: 9px;
	content: "";
	position: absolute;

}
div.calUp>p{
	margin: 0px;
	font-size: 17px;
	font-weight: bold;
	top: 3px;
	position: absolute;
	left: 17px;
}
div.calDown>p{
	margin: 0px;
	font-size: 100px;
	font-weight: bold;
	top: -10px;
	position: absolute;
	left: 15px;
}
div.calDown{
	display: block;
	height: 72px;
	background: rgb(154, 209, 167);
	position: relative;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 0px 0px 9px 9px;
    background:#26b198;
}
div.calDown::before{
	display: block;
	width: 18px;
	height: 7.5px;
	border-radius: 12px;
	background-color: #9EE7DA;
	content: "";
	margin-left: 3px !important;
	top: -4.1px;
	position: absolute;

}
div.calDown::after{
	display: block;
	width: 18px;
	height: 7.5px;
	border-radius: 12px;
	background-color: #9EE7DA;
	content: "";
	margin-left: 129px !important;
	top: -4.1px;
	position: absolute;
}