/*
	Website styles
*/
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(../fonts/droidSans.woff) format('woff');
}

body{
	font: 100%/1.5em "Droid Sans", sans-serif;
	background:#9cddda;
}
h1{
	font-size: 6em;
}
a {
	color: #1F5383;
}
.center{
	margin-right: auto;
	margin-left: auto;
	width: 70%;
	margin-top: 100px;
	text-align: center;
}
.icons{
	list-style: none;
	width: 728px;
	margin: 0 auto;
	padding: 0px;
}
.icons>li{
	float: left;
	margin: 10px;

}
.footer{
	top: 50px;
	clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
.footer>li{
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
   padding: 15px;

}



/*
	Calendar icon styles
*/
.calendaricon{
	width: 150px;
	box-shadow: 1px 1px #ffffff, 2px 2px #ffffff, 3px 3px #ffffff, 4px 4px #ffffff;
	height: 150px;
	border: 6px solid #E4E4E4;
	border-radius: 15px;
	background: #0D6152;
}

div.calUp{
	display: block;
	height: 72px;
	background: rgb(154, 209, 167);
	position: relative;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px 9px 0px 0px;
    background:#26b198;
    margin-bottom: 1.5px;

}
div.calUp::before{
	background: #1E8D79;
	display: block;
	width: 150px;
	height: 72px;
	top: 75.9px;
	z-index: 0;
	border-radius: 9px;
	content: "";
	position: absolute;

}
div.calUp>p{
	margin: 0px;
	font-size: 17px;
	font-weight: bold;
	top: 3px;
	position: absolute;
	left: 17px;
}
div.calDown>p{
	margin: 0px;
	font-size: 100px;
	font-weight: bold;
	top: -10px;
	position: absolute;
	left: 15px;
}
div.calDown{
	display: block;
	height: 72px;
	background: rgb(154, 209, 167);
	position: relative;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 0px 0px 9px 9px;
    background:#26b198;
}
div.calDown::before{
	display: block;
	width: 18px;
	height: 7.5px;
	border-radius: 12px;
	background-color: #9EE7DA;
	content: "";
	margin-left: 3px !important;
	top: -4.1px;
	position: absolute;

}
div.calDown::after{
	display: block;
	width: 18px;
	height: 7.5px;
	border-radius: 12px;
	background-color: #9EE7DA;
	content: "";
	margin-left: 129px !important;
	top: -4.1px;
	position: absolute;
}


/*
	Panel icon styles
*/


.circlePanel {
	border-radius: 50%;
	display: inline-block;
	width: 8px;
	height: 8px;
	top: 2px;
	left: 5px;
	float: left;
	background: rgb(141, 141, 141);
	position: relative;
	z-index: 1;
}

.movieicon{
	width: 150px;
	box-shadow: 1px 1px #000000, 2px 2px #000000, 3px 3px #000000, 4px 4px #000000;
	height: 150px;
	border: 6px solid #727272;
	border-radius: 4px 4px 15px 15px;
	background: #FFFFFF;
}
.movieicon table{
margin-top: -29px;
color: white;
z-index: 100;
top: 51px;
position: relative;
width: 100%;
margin-left: auto;
margin-right: auto;
}
.movieicon td{
	border: 1px solid white;
	padding: 0px;
	font-size: 12px;
	line-height: 11px;
}
.panelBody{}
.panelBody::before{
display: block;
width: 100%;
height: 40px;
background-color: #000000;
content: "";
top: 11px;
position: relative;
border-top: 1px solid rgba(145, 143, 143, 0.69);
border-bottom: 2px solid rgba(145, 143, 143, 0.69);
}
.panelBody::after{
	display: block;
	width: 100%;
	height: 40px;
	background-color: #000000;
	content: "";
	top: -22px;
	position: relative;
	border-top: 2px solid rgba(145, 143, 143, 0.69);
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
}
.panelBody>p{
	line-height: 25px;
	margin-top: 10px;
	padding: 5px 0px 5px 0px;
}
.panelBody>p::before{
	display: block;
	width: 100%;
	height: 1px;
	background-color: #000000;
	content: "";
	top: 22px;
	opacity: .2;
	position: relative;
}

.panelBody>p::after{
	display: block;
	width: 100%;
	height: 1px;
	background-color: #000000;
	content: "";
	top: -6px;
	opacity: .2;
	position: relative;
}
.panelHeader{
	height: 0.1px;
}
.panelHeader::before{
	display: block;
	width: 100%;
	height: inherit;
	content: "";
	position: relative;
	border-top: 6px dotted black;
	border-bottom: 1px solid rgba(156, 156, 156, 0.91);
}
.panelHeader::after{
	display: block;
	width: 100%;
	height: inherit;
	content: "";
	position: relative;
	border-top: 6px dotted black;
}

/*
	Notes icon
*/

.notesicon{
    width: 150px;
	box-shadow: 1px 1px #5A371B, 2px 2px #5A371B, 3px 3px #5A371B, 4px 4px #5A371B;
	height: 150px;
	border: 6px solid #996944;
	border-radius: 15px;
	background: #B3A777;
}

.notesLeft{
width: 43.5%;
float: left;
font-size: 8px;
line-height: 10px;
padding: 3.5px;
background: #F3ECCE;
overflow: hidden;
max-height: 143px;
border-top-left-radius: 7px;
border-bottom-left-radius: 7px;
position: relative;
left: 3px;
box-shadow: -1.5px 0px #F3E29E;
}
.notesLeft>p{
	padding-top:37px; 
}
.notesRight{
width: 43.5%;
float: left;
font-size: 8px;
line-height: 10px;
padding: 4px;
padding-top: 0px;
background: #F3ECCE;
overflow: hidden;
max-height: 146px;
border-top-right-radius: 7px;
border-bottom-right-radius: 7px;
left: .5px;
position: relative;
border-left: solid 1px rgb(218, 218, 172);
box-shadow: 1.5px 0px #F3E29E;
}



.circle{
	border-radius: 50%;
	position: relative;
}

.circle1{
	width: 10px;
	height: 10px;
	background: rgba(78, 78, 78, 0.5);
	top: 0px;
	left: 25px;
	border: .7px dotted rgb(49, 49, 49);
	margin-bottom: -20px;
}


.circle2{
	width: 20px;
	height: 20px;
	background: rgba(78, 78, 78, 0.5);
	top: 20px;
	left: 6px;
	border: .7px dashed rgb(49, 49, 49);
	margin-bottom: -20px;
}
.circle3{
	width: 15px;
height: 15px;
background: rgba(78, 78, 78, 0.5);
top: 14px;
left: 42px;
border: .7px solid rgb(49, 49, 49);
margin-bottom: -10px;
}

.arrow-bottom{
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 5px solid #f5675a;
	margin-top: 10px;
	margin-bottom: -10px;
	left: 8px;
	position: relative;
}
.arrow-bottom::before{
	display: block;
	width: 8px;
	height: 14.5px;
	content: "";
	position: relative;
	background: #f5675a;
	top: -19px;
	left: -4px;
    
}

/*
 * Camera icon
 */

.cameraicon{
    width: 150px;
    box-shadow: 1px 1px #5F3C92, 2px 2px #5F3C92, 3px 3px #5F3C92, 4px 4px #5F3C92;
    height: 150px;
    border: 6px solid #9B6BE2;
    border-radius: 15px;
    background: #E2E2E2;
    overflow: hidden;
}
.cameraHeader{
    width: 100%;
    background: #393939;
    position: relative;
    top: 20px;
    height: 30px;
    box-shadow: 0px 2px #FF0000;
}
.cameraHeader::before{
    display: block;
    content: "";
    position: relative;
    top: -8px;
    margin: 0 auto;
    width: 40px;
    box-shadow: 0px 2px #FF0000;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 23px solid #272727;
}

.cameraHeader::after{
    display: block;
    content: "";
    position: relative;
    top: -55.5px;
    left: -55px;
    margin: 0 auto;
    width: 10px;
    height: 6px;
    background: #E9E9E9;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: .5px 0px rgb(175, 175, 175),-.5px 0px rgb(175, 175, 175),0px -.2px rgb(175, 175, 175);
}

.cameraBrand{
    color: rgb(173, 173, 173);
    font-size: 8px;
    font-family: sans-serif;
    top: -35px;
    position: relative;
}

.cameraLens{
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.63);
    border: 5px solid rgb(131, 131, 131);
    position: relative;
    margin: auto auto;
    top: 30px;
    z-index: 1;
}
.cameraBody{
    width: 100%;
    background: #424242;
    position: relative;
    top: -50px;
    height: 100%;
    opacity: .8;
}

